{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
Listagem de Ingredientes
{% endblock title %}

{% block tituloPagina %}
<div class="titulo">Listagem de Ingredientes</div>
{% endblock tituloPagina %}
{% block content %}

    {% for ing in ingrediente %}
        <a href="{% url 'ingrediente_edit' pk=ing.pk %}">
            <button class="btn btn-primary">
                {{ ing.nome }}
            </button>
        </a>
 {% endfor %}

<br>
<br>
<br>
<a href="{% url 'ingrediente_new' %}">
  <button type="submit" class="btn btn-primary">
    Novo Ingrediente
  </button>
</a>


{% endblock content %}
