<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
{% block content %}
<body>
    <h1 class="titulo">Sistema Teske Lanches</h1>

    <hr  />

    <div class="telas">
        <a href="{% url 'listar_pedidos' %}">
            <button class="btn btn-primary btn-pedidos">Pedidos</button>
        </a>
        <a href="{% url 'lista_lanches' %}">
            <button class="btn btn-primary btn-pedidos">Lanches</button>
        </a>
        <a href="{% url 'lista_bebidas' %}">
            <button class="btn btn-primary btn-pedidos">Bebidas</button>
        </a>
        <a href="{% url 'lista_ingredientes' %}">
            <button  class="btn btn-primary btn-pedidos">Ingredientes</button>
        </a>
    </div>

</body>
{% endblock content %}
</html>