{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
Listagem de Pedidos
{% endblock title %}

{% block tituloPagina %}
Pedidos da Mesa Selecionada
{% endblock tituloPagina %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Lanche</th>
                <th>Bebida</th>
            </tr>
        </thead>
        <tbody>
        {% for p in pedidos %}
            <tr>
                <td>{{ p.lanche }}</td>
                <td>{{ p.bebida }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content%}