{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
Listagem de Caixas
{% endblock title %}

{% block tituloPagina %}
Listagem de Caixas
{% endblock tituloPagina %}
{% block content %}

  {% for c in caixa %}
      <a class="pedidos telas" href="{% url 'listar_pedidos' %}">
        <button class="btn-pedidos">
          {{ c.observacao }}
        </button>
      </a>


  {% endfor %}
<hr >
<a href="{% url 'caixa_new' %}">
  <button type="submit" class="btn btn-primary">
    Novo Caixa
  </button>
</a>


{% endblock content %}
